In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
from statsmodels.stats import weightstats
import scipy.stats as stats
df = pd.read_csv('state_hpv.csv')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [34]:
#Analysis
#1. ⁠Proportion of African countries covered and proportion of countries for each region
#2.⁠ ⁠Trend in number of countries that introduced over time
#3.⁠ ⁠Proportion for each delivery method
#4.⁠ ⁠Proportion of Gavi support vs self funding
#5.⁠ ⁠Average coverage by 2022 for those with available data
#6.⁠ ⁠Proportion of countries that have meant target
#7.⁠ ⁠Proportion of countries across regions that have meant the target
#8.⁠ ⁠⁠Is there a statistical significance between region of country and including HPV vaccine into a country’s national immunization program

In [35]:
df.head()

,Country,Presence_NPI,Region,Year of introduction,Primary_delivery_strategy,Gavi_supported,Percentage_Coverage,Year_Estimation
0,Botswana,Yes,South Africa,2015.0,Schools,No,78.0,2022.0
1,Burkina Faso,Yes,West Africa,2022.0,Mixed,Yes,NaN,NaN
2,Cabo Verde,Yes,West Africa,2021.0,NaN,No,93.0,2022.0
3,Cameroon,Yes,Central Africa,2020.0,Mixed,Yes,23.0,2022.0
4,Cote d’Ivoire,Yes,West Africa,2019.0,Mixed,Yes,46.0,2022.0

In [36]:
pd.crosstab(index=df['Region'], columns=df['Presence_NPI'], margins=True)

Presence_NPI    No  Yes  All
Region
Central Africa   8    1    9
East Africa      6   12   18
North Africa     4    2    6
South Africa     1    4    5
West Africa      6   10   16
All             25   29   54

In [31]:
#
pd.crosstab(index=df['Presence_NPI'], columns='counts', margins=True)

col_0         counts  All
Presence_NPI
No                25   25
Yes               29   29
All               54   54

In [37]:
pd.crosstab(index=df['Presence_NPI'], columns=df['Region'], margins=True)

Region,Central Africa,East Africa,North Africa,South Africa,West Africa,All
Presence_NPI,,,,,,
No,8,6,4,1,6,25
Yes,1,12,2,4,10,29
All,9,18,6,5,16,54

In [44]:
10/16

0.625

In [45]:
#Percentages across regions that have included HPV vaccination in the NPI schedule
#CA=11%, EA=67%, NA=33%, SA=80%, WA=63%

In [47]:
pd.crosstab(index=df['Region'], columns=df['Gavi_supported'], margins=True)

Gavi_supported  No  Yes  All
Region
Central Africa   0    1    1
East Africa      2   10   12
North Africa     2    0    2
South Africa     2    2    4
West Africa      1    9   10
All              7   22   29

In [52]:
#Trend in the number of countries to have included the HPV vaccine into their NPI vaccine schedule over time
pd.crosstab(index=df['Year of introduction'], columns='counts', margins=True)

col_0                 counts  All
Year of introduction
2011.0                     1    1
2013.0                     1    1
2014.0                     2    2
2015.0                     2    2
2016.0                     1    1
2018.0                     4    4
2019.0                     6    6
2020.0                     1    1
2021.0                     3    3
2022.0                     5    5
2023.0                     3    3
All                       29   29

In [55]:
pd.crosstab(index=df['Region'], columns=df['Year of introduction'], margins=True)

Year of introduction,2011.0,2013.0,2014.0,2015.0,2016.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,All
Region,,,,,,,,,,,,
Central Africa,0,0,0,0,0,0,0,1,0,0,0,1
East Africa,1,0,1,1,1,3,3,0,1,1,0,12
North Africa,0,1,0,0,0,0,0,0,0,1,0,2
South Africa,0,0,1,1,0,0,0,0,0,1,1,4
West Africa,0,0,0,0,0,1,3,0,2,2,2,10
All,1,1,2,2,1,4,6,1,3,5,3,29

In [56]:
pd.crosstab(index=df['Primary_delivery_strategy'], columns='counts', margins=True)

col_0                      counts  All
Primary_delivery_strategy
Health facilities               3    3
Mixed                           9    9
Schools                        11   11
All                            23   23

In [74]:
df['Percentage_Coverage'].sum()/df['Percentage_Coverage'].count()

64.4

In [81]:
df['Percentage_Coverage'].count()

20

In [92]:
(df['Percentage_Coverage'] >= 90).sum()

5

In [95]:
pd.crosstab(index=df['Region'], columns=(df['Percentage_Coverage'] >= 90), margins=True)

Percentage_Coverage  False  True  All
Region
Central Africa           9     0    9
East Africa             14     4   18
North Africa             6     0    6
South Africa             5     0    5
West Africa             15     1   16
All                     49     5   54

In [46]:
df.head()

,Country,Presence_NPI,Region,Year of introduction,Primary_delivery_strategy,Gavi_supported,Percentage_Coverage,Year_Estimation
0,Botswana,Yes,South Africa,2015.0,Schools,No,78.0,2022.0
1,Burkina Faso,Yes,West Africa,2022.0,Mixed,Yes,NaN,NaN
2,Cabo Verde,Yes,West Africa,2021.0,NaN,No,93.0,2022.0
3,Cameroon,Yes,Central Africa,2020.0,Mixed,Yes,23.0,2022.0
4,Cote d’Ivoire,Yes,West Africa,2019.0,Mixed,Yes,46.0,2022.0

In [96]:
#Chi Square test to check for significance of including HPV Vaccine in the NPI schedule and Region of of country
ChiHPVReg=np.array([[1, 8], [12, 6], [2, 4], [4, 1], [10, 6]])

In [98]:
stats.chi2_contingency(ChiHPVReg)

Chi2ContingencyResult(statistic=10.673379310344828, pvalue=0.03049071220867433, dof=4, expected_freq=array([[4.83333333, 4.16666667],
       [9.66666667, 8.33333333],
       [3.22222222, 2.77777778],
       [2.68518519, 2.31481481],
       [8.59259259, 7.40740741]]))